<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-lightbulb fa-6x"></i>
    <h1 class="display-3">Oops!</h1>
    <p class="lead">It looks like your passwrod is not correct or you don't have an account yet!</p>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>


  </div>
</div>
<%- include('partials/footer') %>
